
/NextPvrWebConsole.Tests/obj
*.suo
/NextPvrWebConsole.Tests/obj
/NextPvrWebConsole.Tests/bin
/NextPvrWebConsole/obj
/NextPvrWebConsole/bin
/NextPvrWebConsole/App_Data/NextPvrWebConsole.db
/TestResults
/NextPvrWebConsole/Logging/*.log
/NextPvrWebConsole.InstallSheildLE.Setup/NextPvrWebConsole.InstallSheildLE.Setup
/NextPvrWebConsoleInstaller/bin
/NextPvrWebConsoleInstaller/obj
