/**********************************************************************************
 *	 Recordings Index
 **********************************************************************************/

@import "~/Content/mixins.less";
@import "~/Content/globals.less";

@recordings-groups-container-width:300px;

.recordings.vtab-container
{
	table {
		border-spacing:0;
		border-collapse:collapse;
		width:100%;
		thead {
			tr {
				.border-radius-top(5px);
				.drop-shadow;
				border-bottom:solid 1px #ddd;
				line-height:32px;
			}
		}
		td, th {
			text-align:left;
		}
		td {
			padding:5px 0;
			overflow:hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
		}
		tbody 
		{
			font-size:0.9em;
			line-height:30px;
			overflow:auto;
			tr {
				border-bottom:solid 1px #ddd;
			}
			tr:nth-child(even) {
				background: #eee;
			}
		}
		.recording-status {
			padding-left:15px;
			width:30px;
		}
		.recording-name {
			width:300px;
		}
		.recording-directory {
			width:200px;
		}
		.recording-starttime, .recording-endtime
		{
			width:200px;
		}
		.recording-controls {
			padding-right:10px;
			text-align:right;
		}
		.recording-channel {
			img { width:32px; height:32px; display:block; }
		}
	}
}
.recordings.vtab-container > div 
{
    margin-bottom:20px;
}

#recordings-list-statuskey .status,
.recordings.vtab-container .status {
	.rounded(8px);
	width: 16px;
	height: 16px;
	display: inline-block;
	.drop-shadow(0, 2px, 4px, 0.5);
}
.status_0 { background: #F1D60B; } /* STATUS_PENDING = 0 */
.status_1 { background: #149614; } /* STATUS_IN_PROGRESS = 1 */
.status_2 { background: #06f; } /* STATUS_COMPLETED = 2 */
.status_3 { background: #9D0CCA; } /* STATUS_COMPLETED_WITH_ERROR = 3 */
.status_4 { background: #8B8B8B; } /* STATUS_PLACE_HOLDER = 4 */
.status_5 { background: #000000; } /* STATUS_CONFLICT = 5 */
.status_6 { background: #fc2e5a; } /* STATUS_DELETED = 6 */
	
#recordings-list-statuskey
{
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	left:@tab_button_width + 20px;
	bottom:50px;
	text-align:center;
	display:block;
	
	li {
		list-style:none;
		padding:0;
		margin:0 10px;
		display:inline-table;
		.status
		{
			margin-right:5px;
			margin-bottom:-2px;
		}

	}
}

/** following code is from the old recordings page */


/*
#RecordingsPage 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.recordings-groups-container
{
	position:absolute;
	top:@header-height + 80px;
	bottom:20px;
	left:0;
    width:@recordings-groups-container-width;
	border-right:1px solid #d3d3d3;
	.inner-shadow(-5px, -4px, 7px, 0.1);
    top: 0;
	bottom:-10px;
    padding:50px 0 0; 
}

.recordings-list-container
{
	position:absolute;
	top:@header-height + 20px;
	bottom:40px;
	left:@recordings-groups-container-width  + 20px;
	right:20px;
	overflow-y:auto;
}

.recording-groups
{
	position:absolute;
	top:140px;
	left:6px;
	right:0px;
	bottom:6px;
	overflow:auto;
    margin:0;
    padding:20px 0 10px;
    list-style:none;
}
.recording-group
{
    position:relative;
    padding:5px 5px;
	margin:0 5px 0 2px;
	cursor:pointer;
	border:solid 1px transparent;
    > .name
    {
        position:absolute;
        left:30px;
        right:0;
    }
    .number-of-recordings
    {
        .rounded(10px);
        width:16px;
        height:16px;
        text-align:center;
        line-height:16px;
        font-size:0.65em;
        font-weight:bold;
        background:black;
        display:block;
        color:White;
    }
}
.recording-group.selected {
	.gradient(#C8DFF8, #9DCCFF, #ECF5FF);
	.rounded(5px);
	.drop-shadow(0, 0px, 5px, 0.5);
	border:solid 1px #318AC5;
}
.recording-group-recordings
{
    display:none;
    .status-completed-with-error
    {
        background:yellow;
    }
    .status-failed
    {
        background:red;
    }
    .status-inprogress
    {
        background:green;
    }
}
.recordings-list {
	border-spacing:0;
	border-collapse:collapse;
	width:100%;
	thead {
		tr {
			.border-radius-top(5px);
			.drop-shadow;
			border-bottom:solid 1px #ddd;
			line-height:30px;
			font-size:1.2em;
		}
	}
	td, th {
		text-align:left;
	}
	td {
		padding:5px 0;
	}
	tbody 
	{
		overflow:auto;
		tr {
			border-bottom:solid 1px #ddd;
		}
		tr:nth-child(even) {
			background: #eee;
		}
	}
	.recording-status {
		padding-left:15px;
		width:30px;
	}
	.recording-name {
		width:300px;
	}
	.recording-starttime, .recording-endtime
	{
		width:200px;
	}
	.recording-controls {
		padding-right:10px;
		text-align:right;
	}
}
#RecordingsPage {
	.recording-status .status,
	.recordings-list-statuskey .status {
		.rounded(8px);
		width: 16px;
		height: 16px;
		display: inline-block;
		.drop-shadow(0, 2px, 4px, 0.5);
	}
	.status_0 { background: #F1D60B; } 
	.status_1 { background: #149614; }
	.status_2 { background: #06f; } 
	.status_3 { background: #9D0CCA; }
	.status_4 { background: #8B8B8B; }
	.status_5 { background: #000000; }
	.status_6 { background: #fc2e5a; }
	.recordings-list-statuskey {
		margin:0;
		padding:0;
		position:absolute;
		right:0;
	    left:@recordings-groups-container-width  + 20px;
		bottom:13px;
		text-align:center;
		display:block;
		li {
			list-style:none;
			padding:0;
			margin:0 10px;
			display:inline-table;
			.status
			{
				margin-right:5px;
				margin-bottom:-2px;
			}

		}
	}
}
*/