@import "~/Content/mixins.less";
@import "~/Content/globals.less";

@minutewidth: 3px;

.pageguide #epg 
{
    background:black;
    position:absolute;
    top:42px;
    bottom:106px;
    left:0;
    right:0;
	text-shadow: 0 0 transparent !important;
	padding:0;
}
div.pageguide #epg {
	overflow:hidden;
}
body.pageguide {	
    overflow:scroll;
	background:black;
}
body.pageguide .ui-page {	
	background:black;
}
#programs
{
    display: -webkit-box;
    position:absolute;
    top:0;
    bottom:0;
    left:48px;
    right:0;
}
#programs ul
{
    padding-bottom:100px;
}
.pageguide #programList
{
    border:solid 1px black;
    margin:0;
    padding:0;
	padding-top:23px;
}
.pageguide #programList li
{
    padding:0;
    margin:0;
    list-style:none;
}
.pageguide #programList li.channel
{
    background-repeat:no-repeat;
    background-position:0 0;
    padding-left:50px;
    height:40px;
    overflow:hidden;
    position:relative;
}
.pageguide #timeline
{
    display:block;
    white-space:nowrap;
    border-top:none;    
	background:red;
    top:0;
    position:absolute;
    left:0;
	right:0;
    z-index:10;
	table {
		border-spacing:10px;
		border-collapse:collapse;
	}
	td
	{
		background:grey;  
		padding:0;
		margin:0;
		height:24px;
		line-height:24px;
		font-size:1em;
		border:solid 1px black;
		border-left:0;
		display:inline-block;
	}
	.spacer
	{
		width:48px;
		border-left:none;
	}
	.bucket.sixty-minute {
		width:60 * @minutewidth - 1; /* minute 2 for the border */
	}
}
.pageguide .bucket
{
    display:inline-table;
    border:solid 1px black;
	border-left:none;
    height:10px;
    color:white;
    font-weight:bold;
    font-size:12px;
}
.pageguide .program
{
   	display:inline-block;
    height:39px;
    border-right:solid 1px black;
    padding:0;
    margin:0;
    font-size:0.7em;
    overflow:hidden;
    line-height:18px;
	font-weight: bold;
	position:relative;
	top:1px;
	color:white;

    background:#333;
}
#programList li:nth-child(odd) .program {
    background:#444;
}
.pageguide .program.recording,
#programList li:nth-child(odd) .program.recording {
	background:#800;
}
.pageguide .program div
{
	word-wrap:break-word;
	padding:3px;	
	width:100%;	
	text-shadow: 0 0 transparent;
}
.pageguide #channelicons
{
    position:absolute;
    left:0;
    top:25px;
    bottom:0;
    width:49px;
    z-index:9;
	border-right:solid 1px black;
	.icon
	{
		width:49px;
		height:39px;
		background:#000;
		display:block;
		border-bottom:solid 1px black;
		padding:0;
		margin:0;
		position:relative;
		overflow:hidden;
		span
		{
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			display:block;	
			font-size:0.7em;
			text-shadow: none;
		}
		.text
		{
			color:white;
			left:6px;
			right:6px;
			top:6px;
			bottom:6px;
			overflow:hidden;
		}
		img {
			width:50px;
			height:50px;
			position:relative;
			top:-5px;
		}
	}
}
#channelGroup
{
    bottom:100px;
    position:absolute;
    z-index:11;
}
#footerGuide
{
	position:fixed;
    bottom:64px;
	left:0;
	right:0;
    z-index:10;
	border:none;
}

.pageguide
{
    position:absolute !important;
    top:0 !important;
    left:0 !important;
    right:0 !important;
    bottom:0px !important;
    min-height:416px !important;
}

.pageguide iframe
{
    /*position:absolute;*/
    /*top:44px;*/
    /*bottom:112px;*/
	border:0;
    left:0;
    right:0;
    overflow:scroll;
	height:100%;
	width:100%;
}

#showinfo {
	padding-bottom:70px;
	.ui-content {
		padding-top:50px;
	}
	.label {
		float:left;
		color:#999;
		width:120px;
	}
	.ui-li > span + span {
		margin-left: 120px;
		display: block;
	}
	.ui-select {
		margin:-15px 0 -15px 120px;
	}
	.ui-slider {
		position: absolute;
		left: 190px;
		right: 10px;
		top: 21px;
		width:auto;
	}
	.ui-input-text {
		margin:0 0 0 120px;
		width:70px;
	}
	.advanced {
		display:none;
	}
	#recording-settings {
		margin-top:40px;
		.label {
			line-height:36px;
		}
	}
}

