@import "~/Content/mixins.less";
@import "~/Content/globals.less";

.user-settings .vtab-content > .channels
{
    table 
    {
		position:absolute;
		top:100px;
        thead > tr, tbody
        {
         display:block;
        }
		border-spacing:0;
		border-collapse:collapse;
		tbody 
		{
		    overflow-y:auto;
        }
    }
    th, td 
    {
        border-bottom:solid 1px @general_border_color;
    }
    .name 
    {
        text-align:left;
    }
    .number 
    {
        width:120px;
        text-align:center;
        input { text-align: right; }
    }
    .enabled
    {
        width:120px;
        text-align:center;
    }
}