@{
    Layout = null;

    string hostname = Environment.MachineName; // TODO get this from a setting

    string title = "";
    string url = "http://" + hostname + ":8866/";
    if(ViewBag.IsRecording)
    {
        url += "live?recording=" + ViewBag.Oid;
        title = "Recording: " + ViewBag.Title;
    }
    else
    {
        url += "live?channeloid=" + ViewBag.ChannelOid;
        title = ViewBag.ChannelName + " Live";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
</head>
<body>
    <embed type="application/x-vlc-plugin"
         name="video1"
         autoplay="yes" loop="yes" width="800" height="450"
         target="@url" />
</body>
</html>
