<div ng-controller="Controllers.Recordings.AvailableController">
    <div class="recordings-available-group" ng-show="recordingGroups.length > 0">
        <span data-lang="Recording Group:"></span>
        <select ng-model="selectedRecordingGroup" ng-options="rg.Name for rg in recordingGroups">
        </select>
        
        <a href="#recording-group-mover" class="btn" role="button" data-toggle="modal" ng-hide="recordingGroups.length < 2">
            <i class="icon-share"></i><span data-lang="Move Recording Group"></span>
        </a>
    </div>

    <div ng-hide="recordingGroups.length > 0" class="alert alert-block">
        No recordings available.
    </div>
    
    <div>
        <table class="data-table" ng-show="selectedRecordingGroup != null">
            <thead>
                <tr>
                    <th class="recording-status"></th>
                    <th class="channel"></th>
                    <th class="recording-name" data-lang="Name"></th>
                    <th class="recording-directory" data-lang="Directory"></th>
                    <th class="recording-time" data-lang="Time"></th>
                    <th class="recording-controls"></th>
                </tr>
            </thead>
            <tbody class="recordings-list">
                <tr ng-repeat="recording in selectedRecordingGroup.Recordings">
                    <td class="recording-status"><span ng-class="'status status_' + recording.Status"></span></td>
                    <td class="channel">
                        <img ng-show="recording.ChannelHasIcon" ng-src="/channelicon/{{recording.ChannelOID}}" />
                        <span ng-hide="recording.ChannelHasIcon">{{recording.ChannelName}}</span>
                    </td>
                    <td class="recording-name">
                        <a href="" ng-click="openPlayer(recording)">
                            <span ng-show="recording.Subtitle && recording.Subtitle.length">recording.Subtitle</span>
                            <span ng-hide="recording.Subtitle && recording.Subtitle.length" >{{ recording.StartTime | date }}</span>
                        </a>
                    </td>
                    <td class="recording-directory">{{recording.RecordingDirectoryId}}</td>
                    <td class="recording-time">{{recording.StartTime | date}}</td>
                    <td class="recording-controls">
                        <button onclick="return false" class="btn btn-danger" ng-click="delete(recording)">
                            <i class="icon-trash icon-white" /> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div id="recording-group-mover" class="modal hide">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 data-lang="Move Recordings"></h3>
        </div>
        <div class="modal-body">
            <p data-lang="Please select a Recording Directory to move these recordings to."></p>
            <p data-lang="Note all future recordings will also be recorded in the destination Recording Group"></p>
            
            <select ng-model="destinationRecordingDirectory" ng-options="rd.DisplayName for rd in recordingDirectories">
            </select>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-primary" ng-click="move()">Move</a>
            <a href="#" data-dismiss="modal" class="btn">Cancel</a>
        </div>
    </div>
</div>