<div style="display:none">
    <div class="recordings-available-group">
        <span data-lang="Recording Group:"></span>
        <select data-bind="options: recordingGroups, optionsText: 'name', optionsValue: 'name', value: selectedRecordingGroupName">
        </select>
    </div>
    
    <div>
        <table class="data-table" data-bind="with: selectedRecordingGroup, visible: selectedRecordingGroup">
            <thead>
                <tr>
                    <th class="recording-status"></th>
                    <th class="channel"></th>
                    <th class="recording-name" data-lang="Name"></th>
                    <th class="recording-directory" data-lang="Directory"></th>
                    <th class="recording-time" data-lang="Time"></th>
                    <th class="recording-controls"></th>
                </tr>
            </thead>
            <tbody class="recordings-list" data-bind="foreach: recordings">
                <tr data-bind="attr: { class : cssClass }">
                    <td class="recording-status"><span data-bind="attr: { class: 'status status_' + status() }"></span></td>
                    <td class="channel">
                        <img data-bind="visible: channelHasIcon, attr: { src: channelIconSrc }" />
                        <span data-bind="visible: !channelHasIcon(), text: channelName"></span>
                    </td>
                    <td class="recording-name"><a href="#" data-bind="text: displayName, click: openPlayer" target="_blank" /></td>
                    <td class="recording-directory" data-bind="text: recordingDirectoryId"></td>
                    <td class="recording-time" data-bind="text:timeStr"></td>
                    <td class="recording-controls">
                        <button onclick="return false" class="ui-button-danger ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-bind="click: $root.remove">
                            <span class="icon-trash icon-large" data-lang="Delete"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>