<div ng-controller="Controllers.Recordings.AvailableController">
    <div class="recordings-available-group">
        <span data-lang="Recording Group:"></span>
        <select ng-model="selectedRecordingGroup" ng-options="rg.Name for rg in recordingGroups">
        </select>
        
        <button onclick="return false" class="btn" ng-click="move()">
            <span class="icon-trash icon-large" data-lang="Move Recording Group"></span>
        </button>
    </div>
    
    <div>
        <table class="data-table" ng-show="selectedRecordingGroup != null">
            <thead>
                <tr>
                    <th class="recording-status"></th>
                    <th class="channel"></th>
                    <th class="recording-name" data-lang="Name"></th>
                    <th class="recording-directory" data-lang="Directory"></th>
                    <th class="recording-time" data-lang="Time"></th>
                    <th class="recording-controls"></th>
                </tr>
            </thead>
            <tbody class="recordings-list">
                <tr ng-repeat="recording in selectedRecordingGroup.Recordings">
                    <td class="recording-status"><span ng-class="'status status_' + recording.Status"></span></td>
                    <td class="channel">
                        <img ng-show="recording.ChannelHasIcon" ng-src="/channelicon/{{recording.ChannelOID}}" />
                        <span ng-hide="recording.ChannelHasIcon">{{recording.ChannelName}}</span>
                    </td>
                    <td class="recording-name">
                        <a href="" ng-click="openPlayer(recording)">
                            <span ng-show="recording.Subtitle && recording.Subtitle.length">recording.Subtitle</span>
                            <span ng-hide="recording.Subtitle && recording.Subtitle.length" >{{ recording.StartTime | date }}</span>
                        </a>
                    </td>
                    <td class="recording-directory">{{recording.RecordingDirectoryId}}</td>
                    <td class="recording-time">{{recording.StartTime | date}}</td>
                    <td class="recording-controls">
                        <button onclick="return false" class="btn btn-danger" ng-click="delete(recording)">
                            <span class="icon-trash icon-large" data-lang="Delete"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="recording-group-mover" style="display:none">
            <p data-lang="Please select a Recording Directory to move these recordings to."></p>
            <p data-lang="Note all future recordings will also be recorded in the destination Recording Group"></p>


            <select data-bind="options: recordingDirectories, optionsText: 'name', optionsValue: 'recordingDirectoryId', value: selectedRecordingDirectory">
            </select>
        </div>

    </div>
</div>