<div ng-controller="Controllers.Recordings.PendingController">

    <div ng-hide="recordings.length" class="alert alert-block">
        No pending recordings.
    </div>

    <table class="data-table" ng-show="recordings.length">
        <thead>
            <tr>
                <th class="recording-status"></th>
                <th class="channel"></th>
                <th class="recording-name" data-lang="Name"></th>
                <th class="recording-directory" data-lang="Directory"></th>
                <th class="recording-time" data-lang="Time"></th>
                <th class="recording-controls"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="recording in recordings">
                <td class="recording-status"><span ng-class="'status status_' + recording.Status"></span></td>
                <td class="channel">
                    <img ng-show="recording.ChannelHasIcon" ng-src="/channelicon/{{recording.ChannelOID}}" />
                    <span ng-hide="recording.ChannelHasIcon">{{recording.ChannelName}}</span>
                </td>
                <td class="recording-name">{{recording.Name}}</td>
                <td class="recording-directory">{{recording.RecordingDirectoryId}}</td>
                <td class="recording-time">{{recording.StartTime | date:'MMM d, h:mm a'}}</td>
                <td class="recording-controls">
                    <button onclick="return false" class="btn btn-danger" ng-click="cancel(recording)">
                        <i class="icon-trash icon-white" /> Cancel
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>