<div style="display:none">
    <div>
        <table class="data-table">
            <thead>
                <tr>
                    <th class="channel"></th>
                    <th class="recording-name" data-lang="Name"></th>                    
                    <th class="recording-directory" data-lang="Directory"></th>
                    <th class="recording-time" data-lang="Time"></th>
                    <th class="recording-days" data-lang="Days"></th>
                    <th class="recording-controls"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: recordings">
                <tr>
                    <td class="channel">
                        <img data-bind="visible: channelHasIcon, attr: { src: channelIconSrc }" />
                        <span data-bind="visible: !channelHasIcon(), text: channelName"></span>
                    </td>
                    <td class="recording-name" data-bind="text: name"></td>
                    <td class="recording-directory" data-bind="text: recordingDirectoryId"></td>
                    <td class="recording-time" data-bind="text:timeStr"></td>
                    <td class="recording-days" data-bind="text:days"></td>
                    <td class="recording-controls">
                        <button onclick="return false" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-bind="click: $root.edit">
                            <span class="icon-edit icon-large" data-lang="Edit"></span>
                        </button>
                        <button onclick="return false" class="ui-button-danger ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-bind="click: $root.remove">
                            <span class="icon-trash icon-large" data-lang="Delete"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="RecurringRecording-ScheduleEditor" style="display:none" data-bind="with: selected">
        @Html.Partial("_ScheduleEditor")
    </div>

</div>