<div ng-controller="Controllers.Recordings.RecurringController">

    <div ng-hide="recordings.length" class="alert alert-block">
        No recurring recordings.
    </div>

    <table ng-show="recordings.length" class="data-table">
        <thead>
            <tr>
                <th class="channel"></th>
                <th class="recording-name" data-lang="Name"></th>                    
                <th class="recording-directory" data-lang="Directory"></th>
                <th class="recording-time" data-lang="Time"></th>
                <th class="recording-days" data-lang="Days"></th>
                <th class="recording-controls"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="recording in recordings">
                <td class="channel">
                    <img ng-show="recording.ChannelHasIcon" ng-src="/channelicon/{{recording.ChannelOid}}" />
                    <span ng-hide="recording.ChannelHasIcon">{{recording.ChannelName}}</span>
                </td>
                <td class="recording-name">{{recording.Name}}</td>
                <td class="recording-directory">{{recording.RecordingDirectoryId}}</td>
                <td class="recording-time">{{recording.StartTime | date:'MMM d, h:mm a'}}</td>
                <td class="recording-days">{{recording.DayMask | daymask}}</td>
                <td class="recording-controls">
                    <button onclick="return false" class="btn" ng-click="edit(recording)">
                        <i class="icon-edit" /> Edit
                    </button>
                    <button onclick="return false" class="btn btn-danger" ng-click="delete(recording)">
                        <i class="icon-trash icon-white" /> Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>