@{
    ViewBag.Title = "Recordings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @Styles.Render("~/Content/recordings/css")
}

<h2>Recordings</h2>

<ul class="recording-groups" data-bind="foreach: recordingGroups, visible: recordingGroups().length > 0">
    <li class="recording-group" data-bind="visible:recordings().length > 0">
        <span class="name" data-bind="text: name"></span>
        <span class="number-of-recordings" data-bind="text: numberOfRecordings"></span>
        <ul class="recording-group-recordings" data-bind="foreach: recordings">
            <li data-bind="attr: { class: cssClass }">
                <span class="recording-filename" data-bind="text: filename"></span>
                <span class="recording-name" data-bind="text: displayName"></span>
            </li>
        </ul>
    </li> 
</ul>

@section Scripts{
    @Scripts.Render("~/Scripts/recordings/index.js")
}