@import "~/Content/mixins.less";
@import "~/Content/globals.less";

.configuration {
	.vtab-content {
		font-size:1.3em;
		td {
			padding:5px;
			vertical-align:top;
		}
		td.label {
			width:300px;
			text-align:right;
			color:#666;
			padding-top:9px;
		}
		select, input[type=number], input[type=text] {
			font-size:1em;			
		}
		input[type=number] {
			width:100px;
		}
		select, input[type=text] {
			width:305px;
		}
		button {
			font-size:1em;
			padding-left:15px;
			padding-right:15px;
		}
		.description {
			display:block;
			font-size:0.7em;
			color:#777;
			max-width:600px;
		}
		.ibutton-container {
			margin-top:2px;
			margin-bottom:2px;
		}
		.ui-spinner {
			width:120px;
		}

		table.devices {
			width:80%;
			margin:auto;
			border-spacing:0;
			border-collapse:collapse;
			border-bottom:solid 1px #d3d3d3;
			td, th { padding: 5px; }
			th { border-bottom: solid 1px #d3d3d3;}
			.device {
				text-align:left;
			}
			.type { 
				width:60px;
				text-align:left;
			}
			.present, .enabled, .channels {
				width:100px;
				text-align:center;
			}
		}
	}		
	a 
	{
	    text-decoration:none;
	}
	#configuration-tab-channelgroups
	{
	    p.buttons 
	    { 
	        text-align:center;
	        button 
	        {
	            margin-bottom:10px;
	        }
	    }
	    table {
		    width:80%;
		    margin:auto;
		    margin-bottom:10px;
		    border-spacing:0;
		    border-collapse:collapse;
		    border-bottom:solid 1px #d3d3d3;
		    td, th { padding: 5px; }
		    th { border-bottom: solid 1px #d3d3d3;}
		    .name {
			    text-align:left;
		    }
		    .handle 
		    {
		        width:20px;
		    }
		    .channels {
			    width:160px;
			    text-align:center;
		    }
		    .controls {
			    width:240px;
			    text-align:center;
			    font-size:0.8em;
		    }
	    }
	}
	.livetvbuffer .value {
		position:relative;
		#btnLiveTvBufferBrowse {
			position:absolute;
			top:-3px;
			left:325px;
		}
	}
	.recording-directories ul {
		margin:0 0 10px;
		padding:0;
		list-style:none;
		li { 
			margin:0;
			padding:0;
			list-style:none;
			position:relative;
			border-bottom: solid 1px @general_border_color;
		}
		input[type=radio] {
			position:absolute;
			left:0;
			top:3px;
		}
		.name, .path {
			margin:0;
			padding:0 0 0 20px;
		}
		.name {
			display:block;
		}
		.path {
			font-size:0.6em;
			color:#666;
			font-style:italic;
		}
		.controls {
			position:absolute;
			right:0;
		}
	}
	td.handle 
	{
	    cursor: pointer;
	}
	#configuration-tab-about {
		padding-left:60px;
	}
}
	
#ChannelGroups-Channels
{
	ul
	{
	    margin:0;
	    padding:5px;
	    position:absolute;
	    left:10px;
	    right:10px;
	    bottom:20px;
	    top:20px;
	    overflow:auto;
	    border:solid 1px @general_border_color;
	    li
	    {
	        margin:0;
	        padding:0;
	        list-style:none;
	        float:left;
	        width:200px;
	        overflow:hidden;
	        text-overflow:ellipsis;
	    }
	}
}

	#channels-table {
		width:100%;
		td, th {
			text-align:center;
		}
		td {
			padding:0;
		}
		.name {
			text-align:left;
			input {
				width:98%;
			}
		}
		.number {
			width:100px;
			input {
				text-align:right;
				padding-right:3px;
			}
		}
		.enabled {
			width:130px;
		}
		.controls {
			width:120px;
		}
		button {
			font-size:0.8em;
		}
		.ibutton-container {
			display:inline-block;
		}
	}