@import "~/Content/mixins.less";
@import "~/Content/globals.less";

.configuration {
	.vtab-content 
	{
		font-size:1.3em;
		table {
		    border-spacing:0;
		    border-collapse:collapse;
        }
		td {
			padding:5px;
			vertical-align:top;
		}
		td.label {
			width:300px;
			text-align:right;
			color:#666;
			padding-top:9px;
		}
		select, input[type=number], input[type=text] {
			font-size:1em;			
		}
		input[type=number] {
			width:100px;
		}
		select, input[type=text] {
			width:305px;
		}
		button {
			font-size:1em;
			padding-left:15px;
			padding-right:15px;
		}
		.description {
			display:block;
			font-size:0.7em;
			color:#777;
			max-width:600px;
		}
		.ibutton-container {
			margin-top:2px;
			margin-bottom:2px;
		}
		.ui-spinner {
			width:120px;
		}

		table.devices {
			width:80%;
			margin:auto;
			border-spacing:0;
			border-collapse:collapse;
			border-bottom:solid 1px #d3d3d3;
			td, th { padding: 5px; }
			th { border-bottom: solid 1px #d3d3d3;}
			.device {
				text-align:left;
			}
			.type { 
				width:60px;
				text-align:left;
			}
			.present, .enabled, .channels {
				width:100px;
				text-align:center;
			}
		}
	}		
	a 
	{
	    text-decoration:none;
	}
	#configuration-tab-channelgroups
	{
	    p.buttons 
	    { 
	        text-align:center;
	        button 
	        {
	            margin-bottom:10px;
	        }
	    }
	    table {
		    width:80%;
		    margin:auto;
		    margin-bottom:10px;
		    border-spacing:0;
		    border-collapse:collapse;
		    border-bottom:solid 1px #d3d3d3;
		    td, th { padding: 5px; }
		    th { border-bottom: solid 1px #d3d3d3;}
		    .name {
			    text-align:left;
		    }
		    .handle 
		    {
		        width:20px;
		    }
		    .channels {
			    width:160px;
			    text-align:center;
		    }
		    .controls {
			    width:240px;
			    text-align:center;
			    font-size:0.8em;
		    }
	    }
	}
	.livetvbuffer .value {
		position:relative;
		#btnLiveTvBufferBrowse {
			position:absolute;
			top:7px;
			left:325px;
		}
	}
	.recording-directories ul {
		margin:0 0 10px;
		padding:0;
		list-style:none;
		li { 
			margin:0;
			padding:0;
			list-style:none;
			position:relative;
			border-bottom: solid 1px @general_border_color;
		}
		input[type=radio] {
			position:absolute;
			left:0;
			top:3px;
		}
		.name, .path {
			margin:0;
			padding:0 0 0 20px;
		}
		.name {
			display:block;
		}
		.path {
			font-size:0.6em;
			color:#666;
			font-style:italic;
		}
		.controls {
			position:absolute;
			right:0;
		}
	}
	td.handle 
	{
	    cursor: pointer;
	}
	#configuration-tab-about {
		padding-left:60px;
	}
	p.buttons 
	{
	    text-align:center;
	}
	th 
	{
	    border-bottom:solid 1px @general_border_color;
	    padding-bottom:5px;
	}
}
	
#ChannelGroups-Channels
{
	ul
	{
	    margin:0;
	    padding:5px;
	    position:absolute;
	    left:10px;
	    right:10px;
	    bottom:20px;
	    top:20px;
	    overflow:auto;
	    border:solid 1px @general_border_color;
	    li
	    {
	        margin:0;
	        padding:0;
	        list-style:none;
	        float:left;
	        width:200px;
	        overflow:hidden;
	        text-overflow:ellipsis;
	    }
	}
}

#channels-table {
	width:100%;
	td, th {
		text-align:center;
	}
	td {
		padding:0;
	}
	.name {
		text-align:left;
		input {
			width:98%;
		}
	}
	.number {
		width:100px;
		input {
			text-align:right;
			padding-right:3px;
		}
	}
	.enabled {
		width:130px;
	}
	.controls {
		width:120px;
	}
	button {
		font-size:0.8em;
	}
	.ibutton-container {
		display:inline-block;
	}	
	tbody tr:first-child td {
		padding-top:5px;
    }
	tr:last-child td 
	{
	    padding-bottom:5px;
	    border-bottom:solid 1px @general_border_color;
	}
}


#users-table 
{
	width:100%;
	td, th {
		text-align:center;
	}
	td {
		padding:3px 0;
		margin:0;
	}
	.username {
		text-align:left;
	}
	button {
		font-size:0.8em;
		postion:relative;
		top:-2px;
		
	}
	.controls {
		width:240px;
		padding-top:0;
	}
	.lastloggedin {
	    width:250px;
	}
	.administrator {
	    width:140px;
	}
	tbody tr:first-child td {
		padding-top:5px;
    }    
	tr:last-child td 
	{
	    padding-bottom:5px;
	    border-bottom:solid 1px @general_border_color;
	}
}

#Configuration-User-Editor 
{
	font-size:1.3em;
	table {		
        width:100%;
    }
    td.label
    {
        width:160px;
        text-align:right;
        vertical-align:top;
        padding-top:10px;        
    }
    td.value 
    {
        input[type=text],input[type=email],input[type=password]
        {
            width:100%;
        }
    }
    ul
    {
        padding:0;
        margin:8px 0 0;
    }
    li 
    {
        margin:0;
        padding:0;
        list-style:none;
    }
    .administrator input
    {
        position:relative;
        top:5px;
    }
}

@media only screen and (max-width: 1200px) 
{
    #Configuration-User-Editor .lastloggedin
    {
        display:none !important;
        width:0 !important;
    }
}