@{
    foreach (NextPvrWebConsole.Models.DriveUsage drive in ViewBag.DriveStatistics)
    {

        int width_Used = (int)Math.Round((drive.Used - drive.RecordingsSize) / drive.Size * 100);
        int width_Recordings = (int)Math.Round(drive.RecordingsSize / drive.Size * 100);
        
        <div style="width:100%" class="progress">
            <div class="bar bar-success" style="width:@(width_Used)%" title="Used Space"></div>
            <div class="bar bar-warning" style="width:@(width_Recordings)%" title="Used By Recordings"></div>
        </div>
        <span data-lang="@drive.Name"></span>
    }
}