
<div class="tuners">
    <table data-bind="visible: devices().length > 0">
        <tbody>
        <!-- ko foreach: devices -->
        <tr data-bind="attr: { 'data-oid': oid, class: 'device device' + $index() }" >
            <td class="identifier" colspan="8" data-bind="text: identifier"></td>
        </tr>
            <!-- ko foreach: streams -->
            <tr class="stream" data-bind="attr: { 'data-handle': handle, class: 'stream type-' + typeName().toLowerCase() } ">
                <td class="typeicon live" data-bind="visible: type() == 1"><span data-lang="IndicatorLive"></span></td>
                <td class="typeicon recording" data-bind="visible: type() == 2"><span data-lang="IndicatorRecording"></span></td>
                <td class="channelNumber" data-bind="text: channelNumber"></td>
                <td class="channelLogo"><img data-bind="visible: channelHasIcon, attr: { src: channelIconUrl()  }" /></td>
                <td class="channelName" data-bind="text: channelName"></td>
                <td class="title" data-bind="text: title"></td>
                <td class="subtitle" data-bind="text: subtitle"></td>
                <td class="time"><span data-bind="text: startTimeString"></span> <span data-lang="TimeToSeperator"></span> <span data-bind="text: endTimeString"></span></td>
                <td class="controls">
                    <button onclick="return false" class="ui-button-danger ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-bind="click: stop">
                        <span class="icon-stop icon-large" data-lang="Stop"></span>
                    </button>
                </td>
            </tr>
            <!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>
</div>
