
<div class="tuners" id="tuners-data" ng-controller="Controllers.DevicesController">
    <table ng-show="items.length > 0">
        <tbody ng-repeat="item in items | filter:item.Enabled" >
            <tr ng-data-oid="{{oid}}" class="device device{{$index}}">
                <td class="identifier" colspan="8">{{item.Name}}</td>
            </tr>
            <tr ng-repeat="stream in item.Streams" class="stream" ng-data-handle="{{stream.handle}}" class="stream type-{{stream.TypeName}}">
                <td class="typeicon live" ng-show="stream.Type == 1"><span data-lang="IndicatorLive"></span></td>
                <td class="typeicon recording" ng-show="stream.Type == 2"><span data-lang="IndicatorRecording"></span></td>
                <td class="channelNumber">{{stream.ChannelNumber}}</td>
                <td class="channelLogo"><img ng-show="stream.ChannelHasIcon" ng-src="/channelicon/{{stream.ChannelOid}}" /></td>
                <td class="channelName">{{stream.ChannelName}}</td>
                <td class="title">{{stream.Title}}</td>
                <td class="subtitle">{{stream.Subtitle}}</td>
                <td class="time"><span>{{stream.StartTime| date:'shortTime'}}</span> <span data-lang="TimeToSeperator"></span> <span>{{stream.EndTime | date:'shortTime'}}</span></td>
                <td class="controls">
                    <button ng-click="stop(stream)">
                        <span class="icon-stop icon-large" data-lang="Stop"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
