<div class="upcoming-recordings" id="upcoming-recordings" ng-controller="Controllers.UpcomingController">
    <ul ng-show="items.length > 0">
        <li ng-repeat="item in items">
            <div class="channelNumber">{{item.ChannelNumber}}</div>
            <div class="channelIcon"><img ng-show="item.ChannelHasIcon"" ng-src="/channelicon/{{item.ChannelOID}}" /></div>
            <div class="channelName">{{item.ChannelName}}</div>
            <div class="name">{{item.Name}}</div>
            <div class="time">{{ item.StartTime | date:'medium' }}</div>
            <div class="controls">
                <button ng-click="cancel(item)" class="btn btn-danger btn-small">
                    <i class="icon-stop icon-white"></i> Cancel
                </button>
            </div>
        </li>
    </ul>
    <div class="no-upcoming-recordings" ng-hide="items.length > 0">
        No upcoming recordings.
    </div>
</div>