<div class="upcoming-recordings" id="upcoming-recordings">
    <ul ng-show="upcomingRecordings.length > 0">
        <li ng-repeat="item in upcomingRecordings">
            <div class="channelNumber">{{item.ChannelNumber}}</div>
            <div class="channelIcon"><img ng-show="item.ChannelHasIcon"" ng-src="/channelicon/{{item.ChannelOID}}" /></div>
            <div class="channelName">{{item.ChannelName}}</div>
            <div class="name">{{item.Name}}</div>
            <div class="time">{{ item.StartTime | datetimeFormatter }}</div>
            <div class="controls">
                <button href="#" onclick="return false" class="ui-button-danger ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-bind="click: $root.stop">
                    <span class="icon-stop icon-large" data-lang="Cancel"></span>
                </button>
            </div>
        </li>
    </ul>
</div>