@{
    Layout = "";

    var devices = new NextPvrWebConsole.Controllers.Api.DevicesController().Get();
}


<div data-role="collapsible" data-collapsed="false">
    <h3>Devices</h3>
    <ul data-role="listview">
    @foreach (var d in devices)
    {
        if (d.Enabled)
        {
            <li data-role="list-divider" role="subheading"><span class="name">@d.Name</span></li>        
            
            foreach (var s in d.Streams ?? new List<NextPvrWebConsole.Models.Stream>())
            {
                <li>
                    <span class="channel">@(String.IsNullOrWhiteSpace(s.ChannelName) ? s.ChannelNumber.ToString() : s.ChannelName)</span>
                    <span class="title">@(String.IsNullOrWhiteSpace(s.Title) ? "Unknown" : s.Title)</span>
                </li>                    
            }
        }
    }
    </ul>
</div>