@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/dashboard/css")
}

<h2>Dashboard</h2>

    @Html.Partial("_Tuners")

@section Scripts{
    @Scripts.Render("~/Scripts/dashboard/index.js")
}