@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StreamTest</title>
</head>
<body>
    <div>

        using http://slvideoplayer.codeplex.com/
        <div id="silverlightControlHost">
	        <object data="data:application/x-silverlight-2," type="application/x-silverlight-2" width="640" height="480">
		        <param name="source" value="/ClientBin/VideoPlayer.xap"/>
		        <param name="background" value="white" />
		        <param name="initParams" value="m=http://localhost:8866/live?recording=1368" />
                <param name="minruntimeversion" value="2.0.31005.0" />

		        <a href="http://go.microsoft.com/fwlink/?LinkId=124807" style="text-decoration: none;">
 			        <img src="http://go.microsoft.com/fwlink/?LinkId=108181" alt="Get Microsoft Silverlight" style="border-style: none"/>
		        </a>
	        </object>
        </div>
    </div>
</body>
</html>
