@{
    Layout = "";
    bool iFrame = true;
}

<div id="epgcontainer">

    <div data-role="header" data-position="fixed">
	    <a href="#" data-icon="arrow-l" class="ui-btn-left" id="guidePrevDay" data-iconpos="notext" data-theme="b"></a>
	    <h1 id="epgDate">Today</h1>
	    <a href="#" data-icon="arrow-r" class="ui-btn-right" id="guideNextDay" data-iconpos="notext" data-theme="b"></a>
    </div><!-- /header -->
	    
    <div data-role="content" id="epg">	
        @if (iFrame)
        {
            <iframe src="" id="epgiframe"></iframe>
        }
        else
        {
	    <div id="timeline"></div>
	    <div id="channelicons"></div>
	    <div id="guidescroller">
	        <div id="programs">
	            <ul id="programList">
	            </ul>
	        </div>
	    </div>
        }
    </div><!-- /content -->

    <div id="footerGuide" data-role="header" data-tapToggle="false">	        
	    <a href="#" data-icon="arrow-l" class="ui-btn-left" id="channelGroupPrev" data-iconpos="notext" data-theme="b"></a>
	    <h1 id="channelGroupName">All Channels</h1>
	    <a href="#" data-icon="arrow-r" class="ui-btn-right" id="channelGroupNext" data-iconpos="notext" data-theme="b"></a>
    </div><!-- /navbar -->
</div>

<div id="showinfo" style="display:none">
    <div data-role="header" data-position="fixed">
	    <a href="#" data-icon="arrow-l" class="ui-btn-left" id="btnShowInfoBack" data-iconpos="notext" data-theme="b"></a>
	    <h1 id="epgDate">Show Information</h1>
    </div><!-- /header -->

    <div data-role="content" style="margin:10px">	
        <div id="showdetails" data-bind="with: selectedShow">
            <ul data-role="listview">
                <li data-role="list-divider" data-bind="text: title"></li>
                <li>
                    <span class="label">Channel</span>
                    <span data-bind="text: channelName"></span>
                </li>
                <li data-bind="visible: hasSubtitle">
                    <span class="label">Subtitle</span>
                    <span data-bind="text: subtitle"></span>
                </li>
                <li>
                    <span class="label">Start</span>
                    <span data-bind="text: startDateTimeShort"></span>
                </li>
                <li>
                    <span class="label">End</span>
                    <span data-bind="text: endDateTimeShort"></span>
                </li>
                <li data-bind="visible: genresString().length > 0">
                    <span class="label">Genres</span>
                    <span data-bind="text: genresString"></span>
                </li>
                <li>
                    <span data-bind="text: description"></span>
                </li>         
            </ul>
                   
            <div data-role="controlgroup" data-bind="visible: isRecording() && isRecurring()" style="margin:35px -15px 0">
                <a href="#" data-role="button" class="cancel-recording" onclick="return false">Cancel Recording</a>
                <a href="#" data-role="button" class="cancel-recurring" onclick="return false">Cancel Recurring</a>
            </div> 

            <div data-bind="visible: isRecording() && !isRecurring()" style="margin:35px -15px 0">
                <a href="#" data-role="button" class="cancel-recording" onclick="return false">Cancel Recording</a>
            </div>

            <input type="hidden" id="Recording_Oid" name="Recording.Oid" data-bind="value: oid" />
            <ul data-role="listview" id="recording-settings" data-bind="visible: !isRecording()">
                <li data-role="list-divider">Record</li>
                <li>
                    <span class="label">Type</span>
                    <select id="Recording_Type" name="Recording.Type">
                        <option value="0">Quick Record</option>
                        <option value="1" data-lang="Record_Once">Once</option>
                        <option value="2" data-lang="Record_Season_New">Season New</option>
                        <option value="3" data-lang="Record_Seaon_All">Season All</option>
                        <option value="4" data-lang="Record_Season_Daily">Season Daily</option>
                        <option value="5" data-lang="Record_Season_Weekly">Season Weekly</option>
                        <option value="6" data-lang="Record_Season_Mon_To_Fri">Season Weekdays</option>
                        <option value="7" data-lang="Record_Season_Weekends">Season Weekends</option>
                        <option value="8" data-lang="Record_All_Eps_All_Chs">All Episodes, All Channels</option>
                    </select>
                </li>
                <li class="advanced">
                    <span class="label">Pre-Padding</span>
                    <input id="Recording_PrePadding" name="Recording.PrePadding" type="number" min="0" max="88" value="4" />
                </li>
                <li class="advanced">
                    <span class="label">Post-Padding</span>
                    <input id="Recording_PostPadding" name="Recording.PostPadding" type="number" min="0" max="88" value="4" />
                </li>
                <li class="advanced">
                    <span class="label">Keep</span>
                    <select id="Recording_NumberToKeep" name="Recording.NumberToKeep">
                        <option value="0">All Recordings</option>
                        @for (int i = 1; i <= 28; i++) { <option value="@i">@i</option> }
                    </select>
                </li>
                <li class="advanced">
                    <span class="label">Directory</span>
                    <select id="Recording_RecordingDirectoryId" name="Recording.RecordingDirectoryId">
                        <option value="0">Default</option>
                    </select>
                </li>
                <li>
                    <div data-role="controlgroup">
                        <input type="button" value="Record" id="btnRecord" />
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>

@Scripts.Render("~/Scripts/mobile/guide.js")   