@{
    Layout = "";
}
@Styles.Render("~/Content/guide/css")

<div id="epg-viewmodel-container">
    <div class="epgpage-container" style="visibility:hidden">

        <div class="epg-days">
            <ul>
                <li ng-repeat="day in days" ng-class="isSelectedDay($index)">
                    <a href="" ng-click="changeDay($index)">{{ day | date:'EEEE, MMMM d' }}</a>
                </li>
            </ul>
        </div>
    
        <div id="epg-groups" class="epg-groups" ng-show="channelGroups.length > 0">
            <ul>
                <li ng-repeat="group in channelGroups" ng-class="'group ' + isSelectedGroup($index)"><span>{{group.Name}}</span></li>
            </ul>
            <div class="epg-groups-button previous" ng-click="prevChannelGroup()"><span class="icon-caret-down"></span></div>
            <div class="epg-groups-button next" ng-click="nextChannelGroup()"><span class="icon-caret-up"></span></div>
        </div>

        <div class="epg-container">
            <div class="epg" id="epg-load-target" ng-show="channels.length > 0">
                @Html.Partial("_EpgGridData")
            </div>
        </div>
    </div>

</div>

<div class="modal hide" id="show-info-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{selectedShow.Title}}</h3>
    </div>
    <div class="modal-body" id="show-info">
        <img class="channelIcon" ng-show="selectedShow.ChannelHasIcon" ng-src="{{channelIconSrc(selectedShow)}}" />
        <span class="channelnumber">{{selectedShow.ChannelNumber}}</span>
        <span class="channelname">{{selectedShow.ChannelName}}</span>
        <span class="time">{{selectedShow.StartTime | date}}</span>
        <span class="seasonAndEpisode"></span>
        <span class="genres">{{selectedShow.Genres}}</span>  
        <span class="repeat" ng-hide="selectedShow.FirstRun" data-lang="[REPEAT]"></span>
        <span class="subtitle">{{selectedShow.Subtitle}}</span>
        <span class="description">{{selectedShow.Description}}</span>  
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn" ng-click="cancelRecurring()" ng-show="selectedShow.IsRecurring">Cancel Series</a>
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn" ng-click="cancelRecording()" ng-show="selectedShow.IsRecording">Cancel Recording</a>
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn" ng-click="quickRecord()" ng-hide="selectedShow.IsRecording">Quick Record</a>
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn" ng-click="openRecordingEditor()" ng-hide="selectedShow.IsRecording">Record</a>
        <a href="" class="btn">Find All</a>
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Close</a>
    </div>
</div>

<input type="hidden" id="index2" />

<script>
    $(function () {
        var resize = function () {
            $('.body-wrapper').height($(window).height() - 40);
        };
        resize();
        $(window).resize(resize);
        setTimeout(function () {
            $('.epgpage-container').css("visibility", "visible");
        }, 500);
    });


    $(function () {
        var minuteWidth = 5;

        updateTimeIndicator = function () {
            var date = new Date();
            var mins = (date.getHours() * 60) + date.getMinutes();
            var midnight = new Date(new Date().setHours(0, 0, 0, 0));
            var guideMins = (midnight.getHours() * 60) + midnight.getMinutes();
            mins = mins - guideMins;
            $('#epg-time-indicator').css({ left: mins * minuteWidth + 'px', height: $('.epg-listings-channel').height() });
        };
        setInterval(updateTimeIndicator, 10 * 1000);

    });
</script>