@import "~/Content/mixins.less";

html {
    min-height:100%;
    height:auto !important;
    height:100%;
}
.setup-page {
    height:100%;
	
	h1 {
		margin:0;
	}
}
.setup-page-wrapper {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height:660px;
    width:640px;
    margin:auto;
	background:transparent url('/Content/images/logo.png') no-repeat 10px 0;
}
.setup-page-content {
	position:absolute;
	bottom:50px;
	left:0;
	right:0;
	top:90px;
	.drop-shadow(0, 0, 40px, 0.7);
	border:solid 1px #d3d3d3;
	padding:30px;
}
.setup-page form
{
	font-size:1.5em;
	> ul, > ul li
	{
		margin:0;
		padding:0;
		list-style:none;
	}
	label, input, span
	{
		display:block;
	}
	input[type=text],input[type=password] {
		font-size:1.5em;
		padding: 0 15px;
		width:540px
	}
	input[type=password] {
		letter-spacing:10px;
	}
	button, input[type=submit]{
		margin-top:20px;
		font-size:1.1em;
		position:absolute;
		bottom:20px;
		right:40px;
	}
	.field-validation-error, .field-validation-valid { 
		color:red;
		font-style:italic;
		font-size:0.6em;
		height:17px;
	}
}