<div ng-controller="Controllers.System.LogController">

    <table class="data-table">
        <thead>
            <td class="name" data-lang="Name"></td>
            <td class="datemodified" data-lang="Date Modified"></td>
            <td class="size" data-lang="Size"></td>
        </thead>
        <tbody >
            <tr ng-repeat="item in model">
                <td>
                    <a href="#/system/log/{{item.Oid}}/{{item.Name}}">{{item.Name}}</a>
                </td>
                <td>{{ item.DateModified | date }}</td>
                <td>{{ item.Size  }}</td>
            </tr>
        </tbody>    
    </table>

    <div id="logFileWindow" style="display:none">
        <span class="name"></span>
        <button ng-click="close()" class="btn">
            <i class="icon-remove icon-large" /> <span data-lang="Close"></span>
        </button>

        <pre>

        </pre>
    </div>
</div>