<div class="channel-groups container">
    <div class="container-title">
        Channel Groups

        <div class="controls">
            <button onclick="return false" class="ui-button" data-bind="click: $root.add">
                <span><i class="icon-plus icon-large"></i> Add</span>
            </button>
        </div>
    </div>
    <ul data-bind="foreach: channelgroups">
        <li>
            <span data-bind="text: name"></span>
            <div class="controls">
                <button onclick="return false" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-bind="click: $root.select">
                    <span><i class="icon-edit icon-large"></i> Edit</span>
                </button>
                <button onclick="return false" class="ui-button-danger ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-bind="click: $root.delete">
                    <span><i class="icon-trash icon-large"></i> Delete</span>
                </button>
            </div>
        </li>
    </ul>

    <div id="channel-group-editor" style="display:none">
        <div data-bind="with: selectedChannelGroup">
            <div class="input-group name">
                <div class="label">Name</div>
                <div class="value"><input type="text" data-bind="value: name" /></div>
            </div>
            <div class="input-group channels">
                <div class="label">Channels</div>
                <div class="value">
                    <ul data-bind="foreach: channels">
                        <li>
                            <input type="checkbox" data-bind="attr : { 'data-oid': oid, id: 'channel_' + $index(), value: oid, checked: enabled }" />
                            <label data-bind="text: name, attr: { for: 'channel_' + $index()}"></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
