<div class="channels container">
    <div class="container-title">Channels</div>
    <ul data-bind="foreach: channels">
        <li>
            <span data-bind="text: number"></span>
            <span data-bind="text: name"></span>
        </li>
    </ul>
</div>