<div class="recording-directories container">
    <div class="container-title">Recording Directories</div>
    <ul data-bind="foreach: recordingdirectories">
        <li>
            <span data-bind="text: name"></span>
        </li>
    </ul>
</div>


