<div class="recording-directories container">
    <div class="container-title">Recording Directories</div>
    
    <div class="description">
        Here you can configure your own personal Recording Directories, you will have access to all Shared directories and your own personal Recording Directories.  Anything you record to your
        personal Recording Directories will not be available to any other users.
    </div>

    <ul data-bind="foreach: recordingdirectories">
        <li>
            <span data-bind="text: name"></span>
        </li>
    </ul>
</div>


