<p data-lang="UserSettings-RecordingDirectories-Summary"></p>

<div ng-controller="Controllers.UserSettings.RecordingDirectoriesController">

    <ul>
        <li ng-repeat="dir in directories">
            <input type="radio" name="recording-directory-default" id="recording-directory-default-{{$index}}" ng-model="model.defaultRecordingDirectoryIndex" value="{{$index}}">
            <label for="recording-directory-default-{{$index}}">{{dir.DisplayName}}</label>
            <div class="controls">
                <button class="btn" ng-click="edit(dir);" ng-hide="dir.UserOid == @NextPvrWebConsole.Globals.SHARED_USER_OID">
                    <i class="icon-edit" />Edit
                </button>
                <button class="btn btn-danger" ng-click="delete(dir);" ng-hide="dir.UserOid == @NextPvrWebConsole.Globals.SHARED_USER_OID">
                    <i class="icon-trash icon-white" />Delete
                </button>
            </div>
        </li>
    </ul>

    <p class="buttons">
        <button class="btn btn-large" ng-click="add()">
            <i class="icon-plus icon-large" />Create Recording Directory
        </button>
        <button class="btn btn-large btn-primary" ng-click="save()">
            <i class="icon-save icon-large" />Save
        </button>
    </p>

</div>