<p data-lang="UserSettings-RecordingDirectories-Summary"></p>

<ul data-bind="foreach: recordingdirectories" style="display:none">
    <li>
        <span data-bind="text: name"></span>
        <div class="controls">
            <button onclick="return false" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-bind="click: $root.edit">
                <span class="icon-edit icon-large" data-lang="Edit"></span>
            </button>
            <button onclick="return false" class="ui-button-danger ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-bind="click: $root.delete">
                <span class="icon-trash icon-large" data-lang="Delete"></span>
            </button>
        </div>
    </li>
</ul>

<p class="buttons">
    <button onclick="return false" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-bind="click: $root.add">
        <span class="icon-plus icon-large" data-lang="Create Recording Directory"></span>
    </button>
</p>

