@{
    Layout = "";
}

<div class="user-settings vtab-container">

    <ul class="vtab-buttons">
        <li ng-class="{ first: true, selected: selectedTabIndex == 0 }" ng-click="selectedTabIndex = 0">
            <i class="gi-tags"></i>
            <span data-lang="Channel Groups" />
        </li>
        @if (ViewBag.UserRecordingDirectoriesEnabled)
        {
            <li data-tab="channels" ng-class="{ selected: selectedTabIndex == 1 }" ng-click="selectedTabIndex = 1">
                <i class="gi-display"></i>
                <span data-lang="Channels" />
            </li>
            <li ng-class="{ last: true, selected: selectedTabIndex == 2 }" ng-click="selectedTabIndex = 2">
                <i class="gi-folder_open"></i>
                <span data-lang="Recording Directories" />
            </li>
        }
        else
        {
            <li ng-class="{ last: true, selected: selectedTabIndex == 1 }" ng-click="selectedTabIndex = 1">
                <i class="gi-display"></i>
                <span data-lang="Channels" />
            </li>
        }
    </ul>

    <div class="vtab-content" id="user-settings-tab-channelgroups" ng-show="selectedTabIndex == 0">
        @Html.Partial("_ChannelGroups")
    </div>
    <div class="vtab-content" id="user-settings-tab-channels" ng-show="selectedTabIndex == 1">
        @Html.Partial("_Channels")
    </div>
    @if (ViewBag.UserRecordingDirectoriesEnabled)
    {
        <div class="vtab-content" id="user-settings-tab-recordingdirectories" ng-show="selectedTabIndex == 2">
            @Html.Partial("_RecordingDirectories")
        </div>
    }

</div>

@Scripts.Render("~/Scripts/vtabs.js")