<h2 data-lang="About NextPVR Webconsole"></h2>

<p>Designed and developed by reven of <a href="http://reven.co.nz/" target="_blank">reven.co.nz</a>.</p>

<p>
    Made using the following third party components
    <ul>
        <li>
            <a href="http://jquery.com" target="_blank">jQuery</a>
        </li>
        <li>
            <a href="http://jqueryui.com" target="_blank">jQuery UI</a>
        </li>
        <li>
            <a href="http://jquerymobile.com" target="_blank">jQuery Mobile</a>
        </li>
        <li>
            <a href="http://knockoutjs.com" target="_blank">KnockoutJS</a>
        </li>           
        <li>
            <a href="http://www.modernizr.com" target="_blank">Modernizr</a>
        </li>     
        <li>
            <a href="http://signalr.net/" target="_blank">SignalR</a>
        </li>
        <li>
            <a href="http://fortawesome.github.com/Font-Awesome/" target="_blank">Font Awesome</a>
        </li>        
        <li>
            <a href="http://recursive-design.com/projects/jquery-i18n/" target="_blank">jQuery i18n plugin</a>
        </li>        
        <li>
            <a href="http://www.givainc.com/labs/" target="_blank">iButton jQuery Plug-in</a>
        </li>        
        <li>
            <a href="http://linqjs.codeplex.com/" target="_blank">LINQ for JavaScript</a>
        </li>    
    </ul>
</p>