<div ng-controller="Controllers.Configuration.ChannelController">
    <p data-lang="Configuration-Channels-Summary"></p>

    <table id="channels-table" class="data-table">
        <thead>
            <tr>
                <th class="name" data-lang="Channel Name"></th>
                <th class="number" data-lang="Number"></th>
                <th class="enabled" data-lang="Enabled"></th>
                <th class="controls"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="channel in model">
                <td class="name"><input type="text" ng-model="channel.Name" /></td>
                <td class="number"><input type="number" ng-model="channel.Number" min="1" max="999" /></td>
                <td class="enabled">
                    <toggle-box ng-model="channel.Enabled"></toggle-box>
                </td>
                <td class="controls">
                    <button ng-click="remove(channel)" class="btn btn-danger btn-small">
                        <i class="icon-remove icon-white"></i> Remove
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="buttons">
        
        <button ng-click="updateEpg()" class="btn">
            <i class="icon-refresh icon-large"></i><span data-lang="Update EPG"></span>
        </button>

        <button ng-click="emptyEpg()" class="btn">
            <i class="icon-trash icon-large"></i><span data-lang="Empty EPG"></span>
        </button>

        <button ng-click="import()" class="btn">
            <i class="icon-share"></i> <span data-lang="Import Missing From NextPVR"></span>
        </button>
    </p>
        
    <p class="buttons">
        <button ng-click="save()" class="btn btn-primary">
            <i class="icon-ok-sign icon-white" /> <span data-lang="Save"></span>
        </button>
    </p>
</div>