@{
    var modelGeneral = (NextPvrWebConsole.Models.ConfigurationModels.GeneralConfiguration)ViewBag.GeneralModel;
}
<div ng-controller="Controllers.Configuration.GeneralController">
    <form>
        <table>
            <tr class="livetvbuffer">
                <td><label data-lang="Live TV Buffer" for="btnLiveTvBufferBrowse"></label></td>
                <td class="value">
                    <div>
                        <folder-browser ng-model="model.LiveTvBufferDirectory"></folder-browser>
                        <span class="description" data-lang="LiveTvBuffer-Description" />
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="modelGeneral_UpdateDvbEpgDuringLiveTv" data-lang="UpdateDvbEpgDuringLiveTv"></label></td>
                <td class="value">
                    <toggle-box ng-model="model.UpdateDvbEpgDuringLiveTv"></toggle-box>
                    <span class="description" data-lang="UpdateDvbEpgDuringLiveTv-Description" />
                </td>
            </tr>
            <tr>
                <td><label data-lang="EpgUpdateHour" for="modelGeneral_EpgUpdateHour"></label></td>
                <td class="value">
                    <time-spinner ng-model="model.EpgUpdateHour" min="0" max="23"></time-spinner>
                    <span class="description" data-lang="EpgUpdateHour-Description" />
                </td>
            </tr>
            <tr>
                <td><label for="modelGeneral_EnableUserSupport" data-lang="EnableUserSupport"></label></td>
                <td class="value">
                    <toggle-box ng-model="model.EnableUserSupport"></toggle-box>
                    <span class="description" data-lang="EnableUserSupport-Description" />
                </td>
            </tr>
            <tr class="userrecordingdirectory">
                <td><label for="btnUserBaseRecordingDirectoryBrowse" data-lang="User Recording Directory"></label></td>
                <td class="value">
                    <div>
                        <folder-browser ng-model="model.UserBaseRecordingDirectory"></folder-browser>
                        <span class="description" data-lang="UserBaseRecordingDirectory-Description" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="value">
                    <button class="btn btn-primary">
                        <i class="icon-save icon-large" /><span data-lang="Save"></span>
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>