@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Account/_LoginLayout.cshtml";
}

<h1>@ViewBag.Title</h1>
<p>@ViewBag.Message</p>

<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  onclick="document.location = '/Login';">Login</button>
