@if (Request.IsAuthenticated) {
    <text>
        <span data-lang="Hello"></span>, @User.Identity.Name
        <ul>
            <li>
                <a id="lnkChangePassword" href="#" onclick="return false" data-lang="Change Password"></a>
            </li>
            <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()" data-lang="Log Off"></a>
            }
            </li>
        </ul>
    </text>
} 
