@{
    Layout = null;
}

<nav class="mainmenu">
    <ul>
        <li>@Html.ActionLink("Guide", "Index", "Guide")</li>
        <li>@Html.ActionLink("Recordings", "Index", "Recordings")</li>
    </ul>
</nav>