@{
    Layout = null;
        
    string[] roles = Roles.GetRolesForUser();
}
<nav class="mainmenu" id="mainmenu">
    <ul>
        @if (roles.Contains("Dashboard"))
        {
        <li class="dashboard"><a href="#/dashboard" data-lang="Dashboard"></a></li>
        }
        @if (roles.Contains("Guide"))
        {
        <li class="guide"><a href="#/guide" data-lang="Guide"></a></li>
        }
        @if (roles.Contains("Recordings"))
        {
        <li class="recordings"><a href="#/recordings" data-lang="Recordings"></a></li>
        }
        @if (roles.Contains("UserSettings"))
        {
        <li class="usersettings"><a href="#/usersettings" data-lang="User Settings"></a></li>
        }
        @if (roles.Contains("Configuration"))
        {
        <li class="configuration"><a href="#/configuration" data-lang="Configuration"></a></li>
        }
        @if (roles.Contains("System"))
        {
        <li class="system"><a href="#/system" data-lang="System"></a></li>
        }
    </ul>
</nav>