@using (Html.BeginForm("Index", "Search", FormMethod.Get, new { id = "formSearch" }))
{
<input id="searchText" name="searchText" type="text" placeholder="Search..." onblur="$('#search').removeClass('focus')" onfocus="$('#search').addClass('focus')" />
<button type="submit">
    <i class="icon-search"></i>
</button>
}