<div class="input-append">
    <input type="text" class="span2" placeholder="Search..." ng-model="SearchText">
    <button class="btn" ng-click="search()">
        <i class="icon icon-search"></i>
    </button>
</div>